:root {
  --background-color: white;
  --nav-background-color: #485bed;
  --footer-background-color: #0f0f48;
}

* {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background-color: var(--nav-background-color);
  margin-top: -8px;
  position: static;
  min-width: 1000px;
}

.navbar a {
  background-color: transparent;
}

.cartlogo {
  width: 16px;
  height: 16px;
}

.navbar .logo,
.logo img {
  background-color: var(--nav-background-color);
  margin-left: 80px;
}

.searchform {
  display: inline-block;
  margin-top: 5px;
  position: relative;
  background-color: var(--nav-background-color);
  box-sizing: border-box;
}

.search {
  background-color: transparent;
  margin: 15px 0 0 70px;
}

.searchform .search input {
  width: 600px !important;
  height: 40px !important;
  border-radius: 7px;
  font-size: 15px;
}

.searchform .search input,
.searchlogo {
  border: 0;
  outline: 0;
}

.cart span,
.seller span,
.more span {
  background-color: var(--nav-background-color);
  color: whitesmoke;
}

.login button {
  background-color: white;
  color: #485bed;
  font-size: 20px;
  border: 0px solid white;
  width: 100px;
  height: 30px;
}

.login,
.cart,
.seller,
.more {
  margin: 30px 0 0 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--nav-background-color);
  position: static;
  display: inline-block;
}

.login:hover .seller {
  right: 300px;
  position: fixed;
  display: block;
}

.login:hover .more {
  right: 300px;
  position: fixed;
  display: block;
}

.login:hover .cart {
  right: 80px;
  position: fixed;
  display: block;
}

.login a,
.login a:hover,
.login a:visited,
.cart a,
.cart a:hover,
.cart a:visited,
.seller a,
.seller a:hover,
.seller a:visited,
.more a,
.more a:hover,
.more a:visited {
  text-decoration: none;
  color: black;
}

.dropdown,
.more-dropdown {
  display: none;
}

.login:hover .dropdown,
.more:hover .more-dropdown {
  height: 200px;
  width: 250px;
  z-index: -1;
  display: block;
}

.login:hover .dropdown a,
.more:hover .more-dropdown a {
  margin-top: -5px;
  margin-left: -40px;
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  position: relative;
  display: flex;
  z-index: 1;
}

.more:hover .more-dropdown {
  width: 260px;
  margin-left: -150px;
  display: block;
}

.footer {
  background-color: var(--footer-background-color);
  min-width: 1000px;
  min-height: 300px;
  display: flex;
}

.footer p,
.footer ul,
.footer span {
  background-color: var(--footer-background-color);
}

.footer p {
  color: grey;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: -20px;
}

.footer ul a {
  color: white;
  text-decoration: none;
  background-color: var(--footer-background-color);
  display: block;
  padding-top: 20px;
  font-size: 12px;
}

.vl {
  border-left: 2px solid grey;
  margin: 50px 0px 0px 40px;
  height: 210px;
}

.about,
.companies,
.help,
.policy {
  background-color: var(--footer-background-color);
  padding-left: 50px;
}

.mail,
.address {
  background-color: var(--footer-background-color);
  padding-left: 80px;
  width: 160px;
}

.footer span {
  color: white;
  background-color: var(--footer-background-color);
  display: block;
  padding-top: 13px;
  font-size: 12px;
}

.footer .mail .mailus,
.footer .address .officeadd {
  margin-left: -40px;
  margin-bottom: 2px !important;
}

.footer .mail .social {
  margin-top: -22px !important;
  margin-left: -40px;
}

.footer .address img {
  margin-top: 90px !important;
  margin-left: -150px !important;
  width: 300px;
  height: 25px;
}

.mainsection {
  margin-top: 20px;
  margin-bottom: 30px;
}

.mainsection img {
  width: 100%;
  margin-bottom: -4px;
}

.info {
  width: 100%;
  padding: 40px 10px 20px 20px;
}

.info,
.info span,
.info p {
  background-color: var(--background-color);
}

.info span {
  width: 100%;
  margin-top: 20px;
  color: darkgray;
}

.info p {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 12px;
  color: grey;
}

.price-range {
  display: inline-block;
}

.desc {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.desc p {
  color: grey;
  font-size: 15px;
}

.desc span {
  color: black;
}
